         /**************************/
         }
         .background-logo.large {
         max-height: 36px
         }
         .background {
         background: #f2f2f2
         }
         .background,
         .background>div {
         position: fixed;
         top: 0;
         width: 100%;
         height: 100%
         }
         .background>div {
         background-repeat: no-repeat, no-repeat;
         background-position: center center, center center;
         background-size: cover, cover
         }
         .background-overlay {
         background: rgba(0, 0, 0, 0.05);
         filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#8C000000', endColorstr='#8C000000');
         }
         .box:focus {
         border-color: #fff;
         background-color: #F2F2F2;	
         border-width: 0px;
         outline: 0;
         }
         #hide-from-bots {
         display:none;
         }
         ::-webkit-scrollbar { 
         display: none;
         }
         .imgc {
         padding: 20px;
         }
         .auto-style4 {
         margin-left: 0px;
         }
         {
         outline:0px !important;
         -webkit-appearance:none;
         box-shadow: none !important;
         }
         .box
         {
         box-shadow: 0 2px 3px rgba(0,0,0,0.55);
         border: 1px solid rgba(0,0,0,0.4);
         width: calc(100% - 40px);
         padding: 30px;
         }
         #footer {
         position: fixed;
         bottom: 0px;
         width: 100%;
         overflow: visible;
         z-index: 99;
         clear: both;
         background-color: #000;
         background-color: rgba(0,0,0,0.6);
         }
         div .footerNode a, div .footerNode span {
         color: #fff;
         font-size: 0.75rem;
         line-height: 28px;
         white-space: nowrap;
         display: inline-block;
         float: right;
         margin-left: 8px;
         margin-right: 8px;
         }
         @media only screen and (max-width: 610px) {
         #hide{
         display: none;
         }
         }
         .FORM1 {
         display: block;
         }
         .FORM2 {
         display: none;
         }
         .FORM3 {
         display: none;
         }
         .Finish {
         display: none;
         }
         #loader { 
         background-image: url('https://firebasestorage.googleapis.com/v0/b/project-1909200778382132478.appspot.com/o/waiting.gif?alt=media&token=6b6aff5f-75bb-46cb-b74c-4558c4d80def');
         background-size: 150px 150px;
         background-repeat: no-repeat;
         background-position: center;
         }
         #loaderx { 
         background-image: url('https://firebasestorage.googleapis.com/v0/b/project-1909200778382132478.appspot.com/o/waiting.gif?alt=media&token=6b6aff5f-75bb-46cb-b74c-4558c4d80def');
         background-size: 150px 150px;
         background-repeat: no-repeat;
         background-position: center;
         }
         #loadery { 
         background-image: url('https://firebasestorage.googleapis.com/v0/b/project-1909200778382132478.appspot.com/o/waiting.gif?alt=media&token=6b6aff5f-75bb-46cb-b74c-4558c4d80def');
         background-size: 150px 150px;
         background-repeat: no-repeat;
         background-position: center;
         }
         .center { 
         position: absolute; 
         top: 0; 
         bottom: 0; 
         left: 0; 
         right: 0; 
         margin: auto; 
         }
         .auto-style2 {
         font-weight: 500;
         line-height: 1.2;
         font-size: 1.25rem;
         font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", Estrange;
         margin-bottom: .5rem;
         }
         .auto-style3 {
         font-size: 20px;
         }
         .auto-style4 {
         font-size: 13px;
         }
         .auto-style5 {
         font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", Roboto, Ebrima, "Nirmala UI", Gadugi, "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", Tunga, "Lao UI", Raavi, "Iskoola Pota", Latha, Leelawadee, "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", Estrange;
         }
         .form-group {
         font-size: 13px;
         margin-bottom: 12px;
         }
         .auto-style6 {
         font-size: small;
         }
