body{
	font-family: arial, sans-serif;
	width: 1500px;
	height: 1500px;
    background-image: url('images/microsoftbg.png');
    background-size: cover;
    background-repeat: no-repeat;   
    margin: 20px 
}
#div1{
	width: 500px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 60px;
}
#img1{
    width: 120px;
}
#p1{
    font-size: 25px;
    font-weight: bold;
    margin-top: -10px;
}
#textbox{
    border: none transparent;
    outline: none;
    font-size: 18px;
    width: 400px;
}
hr{
    width: 400px;
    margin-right: 100px;
    margin-bottom: 17px;
}
#a1{
    color: #108df3;
    text-decoration: none;
    font-size: 17px;
}
#a1:hover{
    text-decoration: underline;
    color: #666666;
}
#div2{
	width: 550px;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    height: 60px;
    margin-top: 22px;
}
#img2{
    width: 55px;
    float: left;
    margin-left: 50px;
}
#label2{
    font-size: 19px;
    float: left;
    margin-top: 19px;
}
#button1{
    width: 120px;
    background-color: #005da6;
    color: white;
    font-size: 18px;
    padding: 8px;
    border: none;
    margin-left: 296px;
    margin-top: 15px;
    opacity: 0.9;
    font-size: 21px;
}
#button1:hover{
    cursor: pointer;
    opacity: 1;
}
#button2{
    height: 60px;
    width: 550px;
    background-color: #ffffff;
    border: none;
}
#button2:hover{
    cursor: pointer;
    background-color: #e5e5e5;
}